<div class = 'jumbotron'>
<h1>Contact</h1>
<p>If you require assistance or notice a problem or wish to change a chaacters stats please contact me at qamcintyre@gmail.com or participate on Discord at CREATE DISCORD. </p>
</div>
