<div class = 'jumbotron'>
<h1>What is Characterbattles?</h1>
<p>Characterbattles is a service that allows you to select two fictional characters from your favorite fictioal universes and the Characterbattles algorithm will find which will win.</p>
</div>
<div class = 'jumbotron'>
<h1>But Why?</h1>
<p>Every nerd has encountered this problem, who would win, Naruto or the Hulk? Darth Vader or Gandalf? Saitama or Superman? Unfortunately when debating these questions it is always a matter of opinion, but Characterbattle can settle these disputes easily with no anger. </p>
</div>
